.content {
    flex: 1 0 auto;
    width: 960px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.content .title {
    margin: 60px;
    font-size: 60px;
}

.content .login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .usr-info{
    letter-spacing: 2px;
}

.content .login-switch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .login-switch input {
    display: none;
}

.content .login-switch label {
    font-size: 25px;
    padding: 25px 79px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0));
}

.content .login-switch input:checked+label{
    background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0.8), rgb(255, 255, 255, 0));
}

.content .usr-info {
    width: 560px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0.3), rgb(255, 255, 255, 0));
}

.content .input-txt {
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;

    width: 380px;
    height: 40px;
    border-radius: 25px;
    border: 1px rgb(200, 200, 200, 0.9) solid;
    margin: 15px 0;
    z-index: 5;
}

.content .login-setting {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.content .btn {
    background-color: transparent;
    /* 背景色透明 */
    border: 0px;
    /* 边框取消 */
}
