.content {
    flex: 1 0 auto;
    width: 960px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.content .title {
    margin: 60px;
    font-size: 60px;
    color: white;
}

.content .register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .usr-info {
    width: 560px;
    min-height: 280px;
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0.3), rgb(255, 255, 255, 0));
}

.content .usr-info input {
    letter-spacing: 2px;
}

.content .input-txt {
    font-size: 15px;
    color: white;
    text-align: center;
    width: 280px;
    height: 40px;
    margin: 0px;
    border: none;
    z-index: 5;
}

.content .register-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content .register-setting {
    font-size: 15px;
    color: white;
    text-align: center;
    margin: 10px;
}

.content .input-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width:  370px;
    border-radius: 25px;
    border: 1px rgb(200, 200, 200, 0.9) solid;
    margin: 5px;
}

.content .usr-info .sign {
    height: 30px;
    width: 30px;
    background-size: 100% 100%;
    margin: 0px 5px;
}