<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书信息报表</title>
    <script src="echarts.min.js"></script>
    <script src="jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="text" style=" text-align:center;font-size:23px"><br>图书信息报表<br><br></div>
<table border='0' cellspacing='0'>
    <tr>
        <td>
        <div id="main" style="width:1400px;height:700px;"></div>
        <script type="text/javascript">
            var dom = document.getElementById("main");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            app.title = 'TOP20书籍';
            option = {
                title: {
                    text: 'TOP20书籍',
                    subtext: '数据来自用户评分',
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                type: 'shadow'
                }
            },
            legend: {
                data: ['图书得分']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01],
            min:9
            },
            yAxis: {
            type: 'category',
            data: ['水浒传 中华书局','古文观止 中华书局','哈利·波特与魔法石 人民文学出版社','房思琪的初恋乐园 北京联合出版公司','白夜行 南海出版公司','百年孤独 南海出版公司','许三观卖血记 北京十月文艺出版社','父与子全集 中国工人出版社','安徒生童话故事集 人民文学出版社','三国演义（全二册） 人民文学出版社','飘 译林出版社','1984 北京十月文艺出版社','围城 人民文学出版社','三国演义 岳麓书社','活着 北京十月文艺出版社','活着 作家出版社','诗经 北京出版社','红楼梦 人民文学出版社','红楼梦 三秦出版社','红楼梦 人民文学出版社']
            },
            series: [
            {
            name: '图书得分',
            type: 'bar',
            data: [9.1,9.1,9.1,9.2,9.2,9.2,9.2,9.2,9.2,9.2,9.3,9.3,9.3,9.4,9.4,9.4,9.4,9.6,9.7,9.9]
            },
            ]
};
;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
       </script>
        </td>
    </tr>
    <tr>
        <td>
        <div id="main2" style="width:1600px;height:700px;"></div>
        <script type="text/javascript">
            var myChart2 = echarts.init($("#main2")[0]);
			var my_option2 = {
                title : {
                    text: '书籍流派与平均得分',
                    x:'center'
                },
                xAxis: {
                    axisLabel:{
                        rotate:70
                    },
                type: 'category',
                data: ['犯罪','剧情','惊怵','冒险','西部','神秘','传记','历史','战争','动作','科幻','奇幻','爱情','恐怖','黑色','喜剧','动画','家庭','音乐剧','音乐','运动']
                },
                yAxis: {
                    scale:true,
                    type: 'value'
                },
                series: [{
                data: [8.37, 8.32, 8.33, 8.4, 8.33, 8.35, 8.28, 8.35, 8.38, 8.35, 8.36, 8.36, 8.32, 8.3, 8.29, 8.29, 8.26, 8.26, 8.25, 8.4, 8.16],
                type: 'bar'
                }]
            };
			myChart2.setOption(my_option2);
        </script>
        </td>
    </tr>
</table>
</body>
</html>