<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, Chrome=1">
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">
    <title>个人信息</title>
    <meta name="description" content="Bookstore-index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- base 指示默认跳转链接，该链接暂时无效-->
    <base href="index.html" target="_blank">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/customer.css') }}">
</head>

<body>
    <header>
        <div class="hd-main">
            <div class="logo"></div>
            <h1>Bookstore</h1>
            <nav>
                <a href="/index" target="_parent">首页</a>
                <a href="/customer/default" target="_parent">欢迎：{{customer}}</a>
                <a href="/recommend" target="_blank">新书推荐</a>
                <a href="/logout" target="_parent">登出</a>
            </nav>
        </div>
    </header>
    <div class="content">
        <div class="content-main">
            <div class="leftcolumn">
                <div class="userinfo">
                    <img src="{{ url_for('static', filename='img/man.png') }}">
                    <h1 class="name">{{customer}}</h1>
                </div>
                <nav class="useraction">
                    <a href="/customer/info" target="_parent">我的信息</a>
                    <a href="/customer/cart" target="_parent">购物车</a>
                    <a href="/customer/history" target="_parent">历史订单</a>
                    <a href="/customer/message" target="_parent">订单留言</a>
                    <a href="/customer/changepw" target="_parent">修改密码</a>
                </nav>
            </div>
            <div class="rightcolumn">
                {{content | safe}}
            </div>
        </div>
    </div>
    <footer>
        <div class="ft-main">
            <div class="info">
                <!-- 电话、邮箱暂时无效 -->
                <p>服务热线：010-12345678 | Email：<a href="mailto:bookstore@126.com">bookstore@126.com</a></p>
                <p>© <a href="index.html">Bookstore</a>&nbsp;版权所有，侵权必究</p>
            </div>
        </div>
    </footer>
</body>

</html>