<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="jquery,ui,easy,easyui,web">
    <meta name="description" content="easyui help you build your web page easily!">
    <title>Bookstore管理-订单信息</title>
    <link rel="stylesheet" type="text/css" href="http://www.w3cschool.cc/try/jeasyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://www.w3cschool.cc/try/jeasyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="http://www.w3cschool.cc/try/jeasyui/demo/demo.css">
    <style type="text/css">
        #fm{
            margin:0;
            padding:10px 30px;
        }
        .ftitle{
            font-size:14px;
            font-weight:bold;
            color:#666;
            padding:5px 0;
            margin-bottom:10px;
            border-bottom:1px solid #ccc;
        }
        .fitem{
            margin-bottom:5px;
        }
        .fitem label{
            display:inline-block;
            width:80px;
        }
    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="http://www.w3cschool.cc/try/jeasyui/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        var url;
        function processEntry(){
            $('#dlg1').dialog('open').dialog('setTitle','Process Entry');
            $('#fm').form('clear');
            url = 'http://127.0.0.1:5000/show_order/processEntry';
        }
        function returnEntry() {
            $('#dlg2').dialog('open').dialog('setTitle','Return Entry');
            $('#fm').form('clear');
            url = 'http://127.0.0.1:5000/show_order/returnEntry';
        }
        function replyEntry(){
            $('#dlg3').dialog('open').dialog('setTitle','Remove Entry');
            $('#fm').form('clear');
            url = 'http://127.0.0.1:5000/show_order/replyEntry';
        }
        function searchEntry(){
            $('#dlg4').dialog('open').dialog('setTitle','Search Entry');
            $('#fm').form('clear');
            url = 'http://127.0.0.1:5000/show_order/searchEntry';
        }
        function searchSQL(){
            $('#dlg5').dialog('open').dialog('setTitle','Search by SQL');
            $('#fm').form('clear');
            url = 'http://127.0.0.1:5000/show_order/searchSQL';
        }
        function formatLongText(value){
            return "<span title='" + value + "'>" + value + "</span>";  
        }
    </script>
</head>
<body  class="easyui-layout">
    <div data-options="region:'north',title:'欢迎！'" style="height:100px;">
        <h1 align="center" style="font-size:x-large;">Bookstore管理系统</h1>
    </div>

    <div region="west" split="true" title="查询内容" style="width:150px;">
            <p style="padding:5px;margin:0;">选择:</p>
            <ul>
                <li><a href="http://127.0.0.1:5000/show_book/begin">图书管理</a></li>
                <li><a href="http://127.0.0.1:5000/show_author/begin">作者管理</a></li>
                <li><a href="http://127.0.0.1:5000/show_stock/begin">库存管理</a></li>
                <li><a href="http://127.0.0.1:5000/show_branch/begin">分店管理</a></li>
                <li><a href="http://127.0.0.1:5000/show_order/begin">订单管理</a></li>
                <li><a href="http://127.0.0.1:5000/show_customer/begin">会员管理</a></li>
                <li><a href="http://127.0.0.1:5000/show_book_charts">图书信息报表</a></li>
                <li><a href="http://127.0.0.1:5000/show_sale_charts">销售信息报表</a></li>
                <li><a href="http://127.0.0.1:5000/logout">登出</a></li>
            </ul>
    </div>

    <div data-options="region:'center',title:'具体信息'" style="padding:5px;background:#eee;">
    <table id="dg" title="订单信息" class="easyui-datagrid" style="width:100;height:100"
            url="http://127.0.0.1:5000/show_order/{{var}}"
            toolbar="#toolbar" pagination="false"
            rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="OrderID" width="25">订单编号</th>
                <th field="ISBN" width="50">ISBN</th>
                <th field="Branch" width="25">分店编号</th>
                <th field="Quantity" width="25">数量</th>
                <th field="Discount" width="25">折扣</th>
                <th field="CustomerID" width="25">会员编号</th>
                <th field="Date" width="50">日期</th>
                <th formatter = "formatLongText" field="Message" width="100">客户留言</th>
                <th formatter = "formatLongText" field="Reply" width="100">回复</th>
                <th field="Status" width="50">状态</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="window.location.href = 'http://127.0.0.1:5000/show_order/begin'">全部订单</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="processEntry()">订单出货</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="returnEntry()">订单退货</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="replyEntry()">回复消息</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="searchEntry()">查询订单</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="searchSQL()">SQL查询</a>
    </div>
    </div>

    <div id="dlg1" class="easyui-dialog" style="width:400px;height:210px;padding:10px 20px"
            closed="true" buttons="#dlg-buttons">
        <div class="ftitle">Entry Information</div>
        <form id="fm"  action='http://127.0.0.1:5000/show_order/processEntry' method="post">
            <div class="fitem">
                <label>编号:</label>
                <input name="OrderID" class="easyui-validatebox" required="true">
            </div>
            <div class="fitem">
                <input type=submit>
            </div>
                <div id="dlg-buttons">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg1').dialog('close')">取消</a>
                </div>
        </form>
    </div>

    <div id="dlg2" class="easyui-dialog" style="width:400px;height:210px;padding:10px 20px"
            closed="true" buttons="#dlg-buttons">
        <div class="ftitle">Entry Information</div>
        <form id="fm"  action='http://127.0.0.1:5000/show_order/returnEntry' method="post">
            <div class="fitem">
                <label>编号:</label>
                <input name="OrderID" class="easyui-validatebox" required="true">
            </div>
            <div class="fitem">
                <input type=submit>
            </div>
                <div id="dlg-buttons">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg2').dialog('close')">取消</a>
                </div>
        </form>
    </div>

    <div id="dlg3" class="easyui-dialog" style="width:400px;height:230px;padding:10px 20px"
            closed="true" buttons="#dlg-buttons">
        <div class="ftitle">Entry Information</div>
        <form id="fm"  action='http://127.0.0.1:5000/show_order/replyEntry' method="post">
            <div class="fitem">
                <label>编号:</label>
                <input name="OrderID" class="easyui-validatebox" required="true">
            </div>
            <div class="fitem">
                <label>回复:</label>
                <input name="Reply">
            </div>
            <div class="fitem">
                <input type=submit>
            </div>
            <div id="dlg-buttons">
                <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg3').dialog('close')">取消</a>
            </div>
        </form>
    </div>

    <div id="dlg4" class="easyui-dialog" style="width:400px;height:210px;padding:10px 20px"
            closed="true" buttons="#dlg-buttons">
        <div class="ftitle">Entry Information</div>
        <form id="fm"  action='http://127.0.0.1:5000/show_order/searchEntry' method="post">
            <div class="fitem">
                <label>编号:</label>
                <input name="OrderID" class="easyui-validatebox" required="true">
            </div>
            <div class="fitem">
                <input type=submit>
            </div>
            <div id="dlg-buttons">
                <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg4').dialog('close')">取消</a>
            </div>
        </form>
    </div>

    <div id="dlg5" class="easyui-dialog" style="width:400px;height:210px;padding:10px 20px"
            closed="true" buttons="#dlg-buttons">
        <div class="ftitle">SQL</div>
        <form id="fm"  action='http://127.0.0.1:5000/show_order/searchSQL' method="post">
            <div class="fitem">
                <label>SQL:</label>
                <input name="SQL" class="easyui-validatebox" required="true">
            </div>
            <div class="fitem">
                <input type=submit>
            </div>
                <div id="dlg-buttons">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg5').dialog('close')">取消</a>
                </div>
        </form>
    </div>

</body>
</html>