<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, Chrome=1">
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">
    <title>Bookstore</title>
    <meta name="description" content="Bookstore-index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/query.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/book.css') }}" />

</head>

<body>
    <header>
        <div class="hd-main">
            <div class="logo"></div>
            <h1>Bookstore</h1>
            <nav>
                <a href="/index">首页</a>
                <a href="/customer/default">欢迎：{{customer}}</a>
                <a href="/recommend" target="_blank">新书推荐</a>
                <a href="/logout">登出</a>
            </nav>
        </div>
    </header>
    <div class="content">
        <div class="hd">
            <h1 class="logo">Bookstore</h1>
            <div class="search">
                <form class="search-form" action="/search_book/search" method="POST">
                    <div class="search-switch">
                        <input type="radio" name="search_case" id="book_name" value="book_name" {{ book |safe}}>
                        <label for="book_name">书名</label>
                        <input type="radio" name="search_case" id="author" value="author" {{ author |safe}}>
                        <label for="author">作者</label>
                        <input type="radio" name="search_case" id="stock" value="stock" {{ stock |safe}}>
                        <label for="stock">库存</label>
                        <input type="radio" name="search_case" id="ch_book_info" value="ch_book_info"
                            {{ ch_info |safe}}>
                        <label for="ch_book_info">中文关键字</label>
                    </div>
                    <div class="search-box">
                        <input class="input-btn" id="search-btn" name="search_btn" type="button" value="">
                        <input class="input-txt" id="search-txt" name="query_txt" type="text" tabindex="1"
                            value={{ query_txt |safe}}>
                    </div>
                </form>
            </div>
        </div>
        <div class="leftcolumn">
            {% for record in data %}
            <figure class='book'>

                <!-- Front -->

                <ul class='hardcover_front'>
                    <li>
                        <div class="coverDesign grey">
                            <span class="ribbon">HOT</span>
                            <h1>{{record[1]}}</h1>
                            <p>{{record[2]}}</p>
                        </div>
                    </li>
                    <li></li>
                </ul>

                <!-- Pages -->

                <ul class='page'>
                    <li></li>
                    <li>
                        <a class="btn" href="/book/{{record[0]}}">查看图书</a>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                <!-- Back -->

                <ul class='hardcover_back'>
                    <li></li>
                    <li></li>
                </ul>
                <ul class='book_spine'>
                    <li></li>
                    <li></li>
                </ul>
                <figcaption>
                    <h1>{{record[1]}}</h1>
                    <table class="bookinfo">
                        <tr>
                            <th>ISBN:</th>
                            <td>{{record[0]}}</td>
                        </tr>
                        <tr>
                            <th>作者:</th>
                            <td>{{record[2]}}</td>
                        </tr>
                        <tr>
                            <th>出版社:</th>
                            <td>{{record[3]}}</td>
                        </tr>
                        <tr>
                            <th>售价:</th>
                            <td>{{record[4]}}</td>
                        </tr>
                    </table>
                    <p>简介:</p>
                    <p>{{record[5]}}</p>
                </figcaption>
            </figure>

            {% endfor %}
        </div>
        {{ content |safe}}
        <div class="rightcolumn">
            <!--这里显示推荐内容，暂时未完成-->
        </div>
    </div>
    <footer>
        <div class="ft-main">
            <div class="info">
                <!-- 电话、邮箱暂时无效 -->
                <section>服务热线：010-12345678 | Email：<a href="mailto:bookstore@126.com">bookstore@126.com</a></section>
                <section>© <a href="index">Bookstore</a>&nbsp;版权所有，侵权必究</section>
            </div>
        </div>
    </footer>
</body>